*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
mosby-sample-mvi
/mosby-sample-mvi
/mvi
/mvi-common
/mvp-common
/presentermanager
/utils-fragment
/maven-push.gradle
/maven-push-java-lib.gradle
/findbugs.gradle
